body{
	background-color:rgb(80,80,80);
}
#header, #left_panel, #right_panel, #main{
	background-color:rgb(144,144,144);
}
.shadow{
	box-shadow: 6px 6px 6px black;
    border-radius: 10px;
}
.la_flex{
	width:1400px;
	margin:auto;
}

#left_panel, #main, #right_panel{
	display:inline-block;
	vertical-align: top;
}

#left_panel, #header, #main, #right_panel{
	margin:15px;
}

#main{
	width:1000px;/*boooof*/
}

#main img{
	max-width:100%;
	max-height:100%;
}

.element img{
	max-width:100%;
	max-height:100%;
}

.main_image{
	margin:15px;
}

#left_panel .element{
	height:80px;
	width:80px;
	margin:25px
}
#right_panel .element{
	height:80px;
	width:80px;
	margin:25px
}

#header{
	position: relative;
	width:1421px;
	height:138px;
	margin:auto;
}
#day_42{
	margin-left:30px;
	height:138px;  /*boooof*/
}

#reload, #close{
	position:absolute;
	height:20px;
	width:20px;
	right:10px;
}
#loop{
	position:absolute;
	right:30px;
	bottom:-25px;
}

#reload{
	top:10px;
}
#close{
	bottom:10px;
}
