body{
	background-color:rgb(80,80,80);
}

#header, .panel, #main{
	background-color:rgb(144,144,144);
	box-shadow: 6px 6px 6px black;
    border-radius: 10px;
	margin:15px;
}

.la_flex{
	width:1421px;
	margin:auto;
}

#main, .panel{
	display:inline-block;
	vertical-align: top;
}

.main_image{
	margin:15px;
}

.main_image img{
	/* height:826px; */
	/* border:red 2px solid; */
}


.element img{
	max-width:100%;
	max-height:100%;
	/* border:pink 2px solid; */
}

.panel .element{
	height:80px;
	width:100px;
	margin:10px;
	/* border:blue 2px solid; */
}

.panel .element img{
	height:70px;
	width:70px;
/* //to align img in a div */
	display:block;
    margin:auto;
	/* border:red 2px solid; */
}

#towel {
	height:60px;
	width:60px;
}

.atowel{
	height:60px;
	width:60px;
	/* border:yellow 6px solid; */
	display:block;
	margin:auto;
}

.abrick{
	height:60px;
	width:100px;
	/* border:yellow 6px solid; */
	display:block;
	margin:auto;
	background-image:url("resources/brick.jpg");
}

.abrick img{
	/* pour avoir le nom */
	opacity: 0.0;
}




/*################################ header */
#header{
	position: relative;
	width:1421px;
	height:138px;
	margin:auto;
}
#day_42{
	margin-left:30px;
	height:138px;
}

#loop{
	position:absolute;
	right:30px;
	bottom:-25px;
}

#reload{
	top:10px;
}

#close{
	bottom:10px;
}

#reload, #close{
	position:absolute;
	height:20px;
	width:20px;
	right:10px;
}

